*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


::-webkit-scroll{
  width: 0px;
}

body{
  font-family: "Lucida Console", Monaco, monospace;
  background: #222222;
  display: grid;
}

.header{
  display: flex;
  width: 1280px;
  height: 70px;
  border-radius: 60px;
  background: #222222;
  align-items: center;
  margin: 15px auto;
  box-shadow: -3px -3px 20px rgba(255, 255, 255, 0.15), 3px 3px 20px rgba(5, 5, 5, 1);
}

.container{
}

.content{
  width: 1280px;
  height: 585px;
  margin: 45px auto;
  background: #222222;
  border-radius: 60px;
  box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.125), 5px 5px 30px rgba(5, 5, 5, 0.8);
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "music_player content_box";
}

.music_player {
  grid-area: music_player;
  width: 400px;
  height: 95%;
  background: #222222;
  border-radius: 50px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.05), 6px 6px 10px rgba(5, 5, 5, 0.3);
  margin: 14.625px 14.625px 14.625px 14.625px;
}

.music_player img {
  border-radius: 40px;
  margin: 10px 10px 0px 10px;
  opacity: 0.8;
}

/* .time_line{
  width: 380px;
  height: 10px;
  background: linear-gradient(to right, red, purple);
  margin: 10px 10px 15px 10px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 1px rgba(0,0,0,0.4);
} */

/* .player_buttons{
  padding-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.prev_button img{
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(5, 5, 5, 0.6);
  background: #2e2e2e;
  cursor: pointer;
}

.play_pause_button img{
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.1), 3px 3px 3px rgba(5, 5, 5, 0.6);
  background: #2e2e2e;
  cursor: pointer;
}

.next_button img{
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.1), -3px -3px 3px rgba(5, 5, 5, 0.6);
  background: #2e2e2e;
  transform: rotate(180deg);
  cursor: pointer;
}

.prev_button img .play_pause_button img .next_button img{
  background: #2e2e2e;
  transition: 1s;
}

.prev_button img:hover, .play_pause_button img:hover, .next_button img:hover{
  box-shadow: inset 3px 3px 1px rgba(0,0,0,0.4);
  background: #2e2e2e;
} */

.song_name{
  margin: 20px 15px 0px 15px;
  width: 360px;
  height: 30px;
  align-items: center;
  text-align: center;
  box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.05), 6px 6px 4px rgba(5, 5, 5, 0.2);
  border-radius: 20px;
}

.song_name p{
  padding-top: 5px;
  font-style: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #dedede;
}
/*  */

#audio-player {
width: 380px;
height: 80px;
margin: 0px 10px;
padding-top: 20px;
}


.content_box {
  grid-area: content_box;
}
